<div class="container mt-4">
  <h1>Welcome to Technotrove</h1>
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
      <label for="username">Username:</label>
      <input
        type="text"
        class="form-control"
        id="username"
        formControlName="username"
      />
      <div
        *ngIf="
          loginForm.get('username').invalid && loginForm.get('username').touched
        "
        class="text-danger"
      >
        Username is required.
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
      />
      <div
        *ngIf="
          loginForm.get('password').invalid && loginForm.get('password').touched
        "
        class="text-danger"
      >
        <div *ngIf="loginForm.get('password').hasError('required')">
          Password is required.
        </div>
        <div *ngIf="loginForm.get('password').hasError('minlength')">
          Password should have a minimum length of 8 characters.
        </div>
        <div *ngIf="loginForm.get('password').hasError('strongPassword')">
          Password must include at least one uppercase letter, one lowercase letter, one digit, and one special character
        </div>
      </div>
    </div>
    <p>Don't have an account? <a routerLink="/register">Register</a></p>
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="loginForm.invalid"
    >
      Sign In
    </button>
  </form>
</div>
